body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 500px;
}

.header {
  margin-bottom: 20px;
}

.header__title {
  font-size: 2em;
  color: #333;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

.search-bar__button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.weather-data {
  display: none;
  margin-bottom: 20px;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.city-info__name {
  font-size: 2em;
  margin-right: 20px;
}

.city-info__icon {
  width: 60px;
  height: 60px;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.weather-details__item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.weather-details__temp,
.weather-details__description,
.weather-details__wind,
.weather-details__humidity,
.weather-details__pressure {
  font-size: 1.2em;
  margin: 0;
}

.error-message {
  color: red;
  display: none;
  margin-bottom: 20px;
}

.history {
  margin-bottom: 20px;
}

.history__title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.history__list {
  list-style: none;
  padding: 0;
}

.history__list li {
  margin-bottom: 5px;
  cursor: pointer;
}

.history__toggle,
.clear-history-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.clear-history-button {
  background-color: #f44336;
}

.clear-history-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
